@use 'animation';
@media only screen and (min-width: 1024px) {
  .portfolio {
    & > * {
      animation-name: show;
      animation-duration: 1.2s;
    }

    & > :nth-child(even) {
      & .grid {
        & > :first-child {
          order: 2;
        }
        & > :last-child {
          order: 1;
        }
      }
    }
  }
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
